<p>INDEX</p>
<ol>
<% @teams.each do |team| %>
  <li>
    <%= team.title %>
    <%= link_to "show", team_path(team) %>
    <%= link_to "edit", team_path(team) %>
    <%= link_to "delete", team_path(team),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ol>
