<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container">

      <p>CHECK OUT YOUR TEAMS:</p>
      <ol style="margin-bottom: 70px">
        <% @teams.each do |team| %>
        <li>
          <%= team.title %>
          <%= link_to "show", team_path(team) %>
          <%= link_to "delete", team_path(team),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </li>
        <% end %>
      </ol>

      <%= link_to "CREATE NEW TEAM", new_team_path, :class => "btn-black", :id => "new-team" %>

    </div>
  </div>
</div>
