<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container">

      <p>CHECK OUT YOUR TEAMS:</p>
      <ol>
        <% @teams.each do |team| %>
        <li>
          <%= team.title %>
          <%= link_to "show", team_path(team) %>
          <%= link_to "delete", team_path(team),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </li>
        <% end %>
      </ol>

    </div>
  </div>
</div>
