<p>NEW</p>


<%= simple_form_for (@team) do |f| %>
  <div class="details-one d-flex">
    <%= f.input :title%>
    <%= f.submit "Weiter", class: "btn-shadow ml-3", id:"next"%>
  </div>
<% end %>
</div>
</div>
