<p>SHOW</p>

<% if @team.member_ids.empty? %>
<%= link_to "Please add members", new_team_member_path(@team) %>

<% else %>
<ol>
  <% @members.each do |member| %>
    <% if member.team_id == @team.id %>
    <li>
      <%= member.name %>
      <%= link_to "delete", team_member_path(member),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
  <% end %>
</ol>


  <%= link_to "Add member", new_team_member_path(@team) %>
<% end %>
