// Specific CSS for your home-page

.heading-1 {
    position: absolute;
    top: 0px;
    left: 85px;
  }

  .heading-2 {
    position: absolute;
    top: 0px;
    left: 317px;
  }

  .heading-3 {
    position: absolute;
    top: 0px;
    left: 562px;
  }
 .heading-4 {
    position: absolute;
    top: 0px;
    left: 765px;
  }
