<%= render 'shared/selected_team' %>
<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container">
      <div class="groupsize-form mb-3">
        <p>WHAT IS THE DESIRED GROUPSIZE?</p>
        <form action="/group" method="get">
          <input id="field" type="text" name="group_by" placeholder="For example '2'">
          <input type="submit" class="btn-black" value="START">
        </form>
      </div>
      <div class="results mt-3">
        <ol>
          <% @groups.each do |group| %>
          <li>
            <div class="d-flex">
              <% group.each do |member| %>
              <div class="member" style="padding: 10px">
                <%= Member.find(member).name%>
              </div>
              <% end %>
            </li>

          <% end %>
          </div>
        </ol>

      </div>



    </div>
  </div>
</div>
<!-- <ol>
  <%# @members.each do |member|%>
  <li>

    <%#= Member.find(member).name%>
    <%# end %>
  </li>
-->
<!-- </ol> -->
