<p>WHAT IS THE DESIRED GROUPSIZE?</p>
<form action="/group" method="get">
      <input id="field" type="text" name="group_by" placeholder="For example '2'">
      <input type="submit" class="search" value="&#xf002">
 </form>

<ol>
  <% @groups.each do |group| %>
  <li>
    <div class="d-flex">
    <% group.each do |member| %>
    <div class="member" style="padding: 10px">
      <%= Member.find(member).name%>

    </div>
      <% end %>

  </li>

    </div>
  <% end %>
</ol>
<!-- <ol>
  <%# @members.each do |member|%>
  <li>

    <%#= Member.find(member).name%>
    <%# end %>
  </li>
 -->
<!-- </ol> -->
