<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
  <div class="function-container">
    <div class="function">
      <%=image_tag 'v1.png' %>
      <p>PICK</p>
    </div>

    <div class="function">
      <%=image_tag 'v2.png' %>
      <p>ORDER</p>
    </div>

    <div class="function">
      <%=image_tag 'v3.png' %>
      <p>GROUP</p>
    </div>

    <div class="function">
      <%=image_tag 'v4.png' %>
      <p>SURPRISE</p>
    </div>

  </div>
</div>

</div>
