<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <%= render 'shared/selected_team'%>
<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">

    <div class="content-container justify-content-center">
      <p>NEW RANDOM ORDER:</p>
      <ol>
        <% @members.each do |member_id| %>
        <li>
          <%=Member.find(member_id).name %>
        </li>
        <% end %>
      </ol>

      <div class="btn-black">
        <%= link_to "AGAIN", order_path %>

      </div>

      <div class="loader-wrapper flex-column" id="mydiv">
        <p>GENERATING NEW ORDER</p>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>

    </div>
  </div>
</div>
