.btn-black{
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  margin: 5px;
  color: black;
  a {
    color: black;
  }
}

.btn-black:hover {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  margin: 5px;
  color: white;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }

}

input.btn-black:hover {
    color: white;
}

#new-team {
  margin-top: 40px;
}
