<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container justify-content-center">

<p>WHO IS IN YOUR TEAM?</p>

<div class="collapsable-form">
        <%= render 'shared/new_member_form'%>
      </div>
</div>
</div>
</div>
