<p>NEW MEMBER</p>

<%= simple_form_for ([@team, @member]) do |f| %>
  <div class="details-one d-flex">
    <%= f.input :name %>
    <%= f.submit "Weiter", class: "btn-shadow ml-3", id:"next"%>
  </div>
<% end %>
